[
  { dora, [
    {listen_port,"8888"},
    {servers, [
      node1@host1,
      node1@host1
    ]},
    {pools, [
      {pool1, [
        {size, 10},
        {max_overflow, 20}
      ], [
        {hostname, "127.0.0.1"},
        {port,9528},
        {database, "test"},
        {username, "pgroot"},
        {password, "123456"}
      ]},
      {pool2, [
        {size, 5},
        {max_overflow, 10}
      ], [
        {hostname, "127.0.0.1"},
        {port,9527},
        {database, "test"},
        {username, "pgroot"},
        {password, "123456"}
      ]}
    ]}
  ]}
].
